start-message = Привет, ты используешь бот для получения расписания, созданный учениками ФМЛ №30.
already-subscribed = Вы уже подписаны, 
    если хотите отписаться то используйте /unsubscribe.
subscribed = Вы успешно подписались, 
    если хотите отписаться то используйте /unsubscribe.
unsubscribed = Вы успешно отписались!
    Для того, чтобы подписаться снова, напишите /subscribe
already-unsubscribed = Вы уже отписаны.
    Для того, чтобы подписаться снова, напишите /subscribe
help-message = 
    Этот бот создан котами-программистами для получения информации и не только =)
    /schedule - узнать расписание уроков
    /ping - проверить работу бота
    /subscribe - подписаться
    /unsubscribe - отписаться
    /terms - правила использования
    /lang - сменить язык

    /about - информация о боте
about-message = Репозиторий бота находится на <a href='https://github.com/dsodx/pml30-bot'>GitHub</a>
    Отблагодарить создателей можно поставив звездочку на этом репозитории =)

    Сообщить о проблеме или идее можно на вкладке <a href='https://github.com/dsodx/pml30-bot/issues'>issues</a>
    Также приветствуются pull-requests (для более опытных)
    <span class='tg-spoiler'>/feature - ?????</span>

    Стек:
    - OS: Ubuntu 22.04 LTS
    - Docker Compose 2.18
    - PostgreSQL 15.3
    - CPython: 3.11
    - Aiogram: 3.0.0b7
    - SQLAlchemy: 2.16
    - Asyncpg: 0.27
terms-message = 
    Правила использования бота:

    Используя этого бота, вы соглашаетесь с нашими условиями и правилами.
    Бот предназначен только для личного использования и не должен быть использован в коммерческих целях без нашего
    письменного разрешения.
    Запрещается передавать, продавать, сдавать в аренду, лицензировать, публиковать, распространять, модифицировать или
    создавать производные работы на основе нашего бота или его кода без нашего явного разрешения.
    Мы не несем ответственности за любые убытки или проблемы, возникшие в результате использования этого бота.
    Используя бота, вы соглашаетесь соблюдать все применимые законы и правила Telegram.
    Мы оставляем за собой право изменять эти условия и правила по своему усмотрению.
    Если у вас возникли вопросы или проблемы, связанные с ботом, вы можете связаться с нами по контактам в репозитории
    <a href='https://github.com/dsodx/pml30-bot'>GitHub</a>.
    Спасибо за использование нашего бота!
select-lang =
    Выберите свой язык
changed-lang =
    Ваш язык успешно изменен